<h2>Create workflow</h2>

<div class="row">
  <div class="col-6">
    <h3>Input</h3>
    <ngx-treeview
      [config]="config"
      [items]="inputItems"
      (selectedChange)="onSelectedChangeForInput($event)"
    >
    </ngx-treeview>
  </div>
  <div class="col-6">
    <h3>Output</h3>
    <ngx-treeview
      [config]="config"
      [items]="outputItems"
      (selectedChange)="onSelectedChangeForOutput($event)"
    >
    </ngx-treeview>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-6">
    <form>
      <div class="form-group">
        <label for="name">JSON workflow name:</label>
        <input class="form-control" id="name" placeholder="Enter name of workflow" [(ngModel)]="jsonWorkflowName"
               (ngModelChange)="checkIfConvertButtonCanBeActivated()">
      </div>
    </form>

    <button type="button" class="btn btn-primary" [disabled]="!conversionAllowed" (click)="convert()">
      Convert
    </button>
  </div>
</div>

