DJANGO_BACKEND_PORT=8000

INPUT_DIR=./mounts/input
OUTPUT_DIR=./mounts/output
INTAKE_DIR=./mounts/intake-catalogs
MOUNT_DIR=./mounts

WORKER_CPU_LIMIT=0.25
WORKER_RAM_LIMIT=512M

POSTGRES_PASSWORD=secretpassword

DOMAIN=78.47.147.212
NGINX_PORT=8080
