<h2>Create complete conversion</h2>

<div class="row">
  <div class="col-6">
    <h3>Input</h3>
    <ngx-treeview
      [config]="config"
      [items]="inputItems"
      (selectedChange)="onSelectedChangeForInput($event)"
    >
    </ngx-treeview>
  </div>
  <div class="col-6">
    <h3>Output</h3>
    <ngx-treeview
      [config]="config"
      [items]="outputItems"
      (selectedChange)="onSelectedChangeForOutput($event)"
    >
    </ngx-treeview>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-6">

    <div class="form-group">
      <label for="name">Name of complete conversion:</label>
      <input class="form-control" id="name" placeholder="Enter name of complete conversion"
             [(ngModel)]="completeConversionCreation.name"
             (ngModelChange)="checkIfConvertButtonCanBeActivated()">
    </div>

    <div class="form-check" style="margin-bottom: 15px;"
         title="If the output folder already exists, it will be deleted before the conversion.">
      <input type="checkbox" class="form-check-input" id="removeExistingFolder"
             [(ngModel)]="completeConversionCreation.removeExistingFolder"
             (ngModelChange)="checkIfConvertButtonCanBeActivated()">
      <label class="form-check-label" for="removeExistingFolder">Remove existing folder</label>
    </div>

    <div class="form-check" style="margin-bottom: 15px;">
      <input type="checkbox" class="form-check-input" id="showAdvancedConfiguration"
             [(ngModel)]="useAdvancedConfiguration"
             (ngModelChange)="resetToDefaultValuesIfDeactivated()">
      <label class="form-check-label" for="showAdvancedConfiguration">Use advanced configuration</label>
    </div>


    <div *ngIf="useAdvancedConfiguration">

      <h3 style="margin-top: 15px">Advanced configuration</h3>

      <div class="form-check" style="margin-bottom: 15px;">
        <input type="checkbox" class="form-check-input" id="uniqueTimes"
               [(ngModel)]="completeConversionCreation.uniqueTimes"
               (ngModelChange)="checkIfConvertButtonCanBeActivated()">
        <label class="form-check-label" for="uniqueTimes">Unique times</label>
      </div>

      <div class="form-check" style="margin-bottom: 15px;">
        <input type="checkbox" class="form-check-input" id="packed" [(ngModel)]="completeConversionCreation.packed"
               (ngModelChange)="checkIfConvertButtonCanBeActivated()">
        <label class="form-check-label" for="packed">Packed</label>
      </div>

      <div class="form-group">
        <label for="precision">Precision:</label>
        <input class="form-control" id="precision" placeholder="Enter precision like 0.01" type="number"
               [(ngModel)]="completeConversionCreation.precision"
               (ngModelChange)="checkIfConvertButtonCanBeActivated()">
      </div>

      <div class="form-group">
        <label for="timeout">Timeout (in s):</label>
        <input class="form-control" id="timeout" placeholder="Enter timeout" type="number"
               [(ngModel)]="completeConversionCreation.timeout"
               (ngModelChange)="checkIfConvertButtonCanBeActivated()">
      </div>

      <div class="form-check" style="margin-bottom: 15px;">
        <input type="checkbox" class="form-check-input" id="autoChunks"
               [(ngModel)]="completeConversionCreation.autoChunks"
               (ngModelChange)="checkIfConvertButtonCanBeActivated()">
        <label class="form-check-label" for="autoChunks">Auto chunks</label>
      </div>

      <table class="table" *ngIf="!completeConversionCreation.autoChunks">
        <thead>
        <tr>
          <th>Chunk</th>
          <th>Value</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let chunk of completeConversionCreation.chunks; let i=index;">
          <td>
            <input class="form-control"
                   [(ngModel)]="chunk.name"
                   (ngModelChange)="checkIfConvertButtonCanBeActivated()">
          </td>
          <td>
            <input class="form-control"
                   [(ngModel)]="chunk.value"
                   (ngModelChange)="checkIfConvertButtonCanBeActivated()">
          </td>
          <td style="padding-top: 20px;">
            <fa-icon [icon]="faMinus"
                     (click)="removeChunk(i)"></fa-icon>
          </td>
        </tr>
        </tbody>
      </table>

      <button class="btn btn-secondary" (click)="addNewChunk()" *ngIf="!completeConversionCreation.autoChunks"
              style="margin-bottom: 20px;">
        Add chunk
      </button>

    </div>

    <button type="button" class="btn btn-primary" [disabled]="formErrors.length > 0" (click)="convert()">
      Convert
    </button>
  </div>
</div>


<div *ngIf="formErrors.length > 0" style="margin-top: 20px;">

  <table class="table table-sm">
    <thead>
    <tr>
      <th>Necessary steps</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let formError of formErrors">
      <td class="text-danger">{{formError}}</td>
    </tr>
    </tbody>
  </table>
</div>
