<h1>Complete Conversion</h1>

<p>The complete conversion generates Zarr files from NetCDF files using
  <a href="https://docs.xarray.dev/en/stable/" target="_blank">xarray</a>.</p>

<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Overview</a>
    <ng-template ngbNavContent>
      <app-complete-conversion-overview></app-complete-conversion-overview>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>New conversion</a>
    <ng-template ngbNavContent>
      <app-complete-conversion-create></app-complete-conversion-create>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" style="margin-bottom: 50px;"></div>
