<h1>JSON Workflow</h1>

<p>This workflow generates Zarr JSON meta files for NetCDF files. More information about the process or how the JSON
  files can be utilized can be found in the article
  <a target="_blank"
     href="https://medium.com/pangeo/fake-it-until-you-make-it-reading-goes-netcdf4-data-on-aws-s3-as-zarr-for-rapid-data-access-61e33f8fe685"
     title="Fake it until you make it — Reading GOES NetCDF4 data on AWS S3 as Zarr for rapid data access">
    Reading NetCDF4 data as Zarr for rapid data access</a>.
</p>

<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Overview</a>
    <ng-template ngbNavContent><app-json-workflow-overview></app-json-workflow-overview></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>New workflow</a>
    <ng-template ngbNavContent><app-json-workflow-create></app-json-workflow-create></ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" style="margin-bottom: 50px;"></div>
